# Azure Blob Storage
AZURE_STORAGE_ACCOUNT_NAME=your_account_name
AZURE_STORAGE_ACCESS_KEY=your_access_key
AZURE_STORAGE_CONTAINER=freelyshared-development

# Rails
RAILS_ENV=development
DATABASE_URL=postgres://postgres:password@db:5432/freelyshared_development

# Web Push (VAPID)
# VAPID_PUBLIC_KEY=
# VAPID_PRIVATE_KEY=
