<div class="d-flex flex-column align-items-center gap-2 mt-3">
  <%- if controller_name != 'sessions' %>
    <%= link_to new_session_path(resource_name), class: "text-muted text-decoration-none" do %>
      <i class="bi bi-box-arrow-in-right me-1"></i>Sign in
    <% end %>
  <% end %>

  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
    <%= link_to new_password_path(resource_name), class: "text-muted text-decoration-none" do %>
      <i class="bi bi-key me-1"></i>Forgot your password?
    <% end %>
  <% end %>
</div>
