<p>Hi Admin,</p>

<p>
  <strong><%= @member.name %></strong> (<%= @member.email %>) has requested to join
  <strong><%= @church.name %></strong> on FreelyShared.
</p>

<p>Please review this request in your church admin panel. You can approve or reject the request there.</p>

<p style="text-align: center;">
  <a href="<%= church_admin_url %>" class="btn">Review Request</a>
</p>
