<% content_for :title, "Edit Service - FreelyShared" %>

<div class="container py-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2 class="mb-4"><i class="bi bi-pencil text-primary me-2"></i>Edit Service</h2>
      <%= render "form", service: @service %>
    </div>
  </div>
</div>
