<p>Welcome to FreelyShared!</p>

<p>Please confirm your email address by clicking the button below:</p>

<p style="text-align: center;">
  <%= link_to 'Confirm My Account', confirmation_url(@resource, confirmation_token: @token), class: 'btn' %>
</p>
