<p>Hi <%= @resource.name.presence || @resource.email %>,</p>

<p>This is a confirmation that your password has been changed successfully.</p>

<p>If you did not make this change, please contact us immediately.</p>
