<p>Hi <%= @resource.name.presence || @resource.email %>,</p>

<p>We received a request to reset your password. Click the button below to choose a new one:</p>

<p style="text-align: center;">
  <%= link_to 'Reset My Password', edit_password_url(@resource, reset_password_token: @token), class: 'btn' %>
</p>

<p>If you didn't request this, you can safely ignore this email. Your password won't change until you click the link above and create a new one.</p>
